<div class="jumbotron text-center">
  <h1><%= student[0].name %> Porfolio</h1>
  <p>Teach For India - <%= student[0].name %>'s Progress</p>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <p>Gender : <b><%= student[0].gender %></b></p>
    </div>
    <div class="col-sm-12">
      <p>Instruction Hours  : <b><%= student[0].instructionHours%></b></p>
    </div>
    <div class="col-sm-12">
      <p>Student Absents (present year)  : <b><%= student[0].absentDays%></b></p>
    </div>
    <div class="col-sm-12">
      <p>Parent Interaction : <b><%= student[0].parentInteraction%></b></p>
    </div>
  </div>
  <h2>Acadmics</h2>
  <p><%= student[0].name %>'s Academics Reacord</p>
  <table class="table">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Period</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(student[0].academic, function(acad) { %>
        <tr>
          <td><%= acad.subject %></td>
          <td><%= acad.period %></td>
          <td><%= acad.score %><%= 1!=1 ? "%" : "" %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>  
  
</div>
