<div class="jumbotron text-center">
  <h1><%= student.name %> Porfolio</h1>
  <p>Teach For India - <%= student.name %>'s Progress</p>
</div>
  
<div class="container">
  <table class="table">    
    <tbody>
  <div class="row">
    <div class="col-sm-12">
      <p>Gender : </p>
      <span><%= student.gender %></span>
    </div>
    <div class="col-sm-12">
      <p>Gender : </p>
      <span><%= student.studyingYear%></span>
    </div>
<div class="col-sm-12">
      <p>Student Absents (present year) : </p>
      <span><%= student.parentInteraction%></span>
    </div>
<div class="col-sm-12">
      <p>Reading 2013-14 BOY (June 2013) : </p>
      <span><%= student.Reading_BOY_2013%></span>
    </div>
<div class="col-sm-12">
      <p>Reading 2013-14 EOY (March 2014) : </p>
      <span><%= student.reading_EOY_2013%></span>
    </div>
<div class="col-sm-12">
      <p>Reading 2014-15 BOY (June 2014) : </p>
      <span><%= student.reading_BOY_2014%></span>
    </div>
<div class="col-sm-12">
      <p>Reading 2014-15 EOY (March 2015) : </p>
      <span><%= student.reading_EOY_2014%></span>
    </div>
<div class="col-sm-12">
      <p>Reading 2015-16 BOY (June 2015) : </p>
      <span><%= student.reading_BOY_2015%></span>
    </div>
<div class="col-sm-12">
      <p>Reading 2015-16 MY (Nov 2015) : </p>
      <span><%= student.Reading_MY_2015%></span>
    </div>

<div class="col-sm-12">
      <p>Writing 2013-14 BOY (June 2013) : </p>
      <span><%= student.writing_BOY_2013%></span>
    </div>
<div class="col-sm-12">
      <p>Writing 2013-14 EOY (March 2014) : </p>
      <span><%= student.writing_EOY_2013%></span>
    </div>
<div class="col-sm-12">
      <p>Writing 2014-15 BOY (June 2014) : </p>
      <span><%= student.writing_BOY_2014%></span>
    </div>
<div class="col-sm-12">
      <p>Writing 2014-15 EOY (March 2015) : </p>
      <span><%= student.writing_EOY_2014%></span>
    </div>
<div class="col-sm-12">
      <p>Writing 2015-16 BOY (June 2015) : </p>
      <span><%= student.writing_BOY_2015%></span>
    </div>
<div class="col-sm-12">
      <p>Writing 2015-16 MY (Nov 2015) : </p>
      <span><%= student.writing_MY_2015%></span>
    </div>

<div class="col-sm-12">
      <p>Math 2013-14 BOY (June 2013) : </p>
      <span><%= student.math_BOY_2013%></span>
    </div>
<div class="col-sm-12">
      <p>Math 2013-14 EOY (March 2014) : </p>
      <span><%= student.math_EOY_2013%></span>
    </div>
<div class="col-sm-12">
      <p>Math 2014-15 BOY (June 2014) : </p>
      <span><%= student.Math_BOY_2014%></span>
    </div>
<div class="col-sm-12">
      <p>Math 2014-15 EOY (March 2015) : </p>
      <span><%= student.math_EOY_2014%></span>
    </div>
<div class="col-sm-12">
      <p>Math 2015-16 BOY (June 2015) : </p>
      <span><%= student.math_BOY_2015%></span>
    </div>
<div class="col-sm-12">
      <p>Math 2015-16 MY (Nov 2015) : </p>
      <span><%= student.math_MY_2015%></span>
    </div>

<div class="col-sm-12">
      <p>S&L 2015-16 BOY (June 2015) : </p>
      <span><%= student.sandL_BOY_2015%></span>
    </div>
<div class="col-sm-12">
      <p>S&L 2015-16 MY (Nov 2015) : </p>
      <span><%= student.sandL_MY_2015%></span>
    </div>

  </div>
</div>
